<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="p-5">

          <!--Section: Products v.2-->
        <section class="text-center pb-3 my-5">
          <!--Section heading-->
          <h2 class="h1 font-weight-bold text-center h1 py-5">Sporter Payment System</h2>
          <!--Section description-->
          <p class="grey-text pb-5">이 결재 시스템은 angular 6.0을 기준으로 각종 stripe, paypal 및
                                    한국형 결재시스템인 Iamporter에 관한 시험용 시스템입니다.</p>
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-3">
              <!--Card-->
              <mdb-card cascade="true" wider="true" class="card-ecommerce">
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="./../../../../../assets/img/sporter1.png"
                    alt="sample photo"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card image-->
                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center no-padding">
                  <!--Category & Title-->
                  <a href="" class="text-muted">
                    <h5>Stripe Payment</h5>
                  </a>
                  <mdb-card-title>
                    <h4 class="card-title">
                      <strong>
                          <button mdbBtn type="button" color="primary"
                          (click)="goStripe()" mdbWavesEffect>
                          <mdb-icon far icon="credit-card"></mdb-icon>
                          GoStripe
                    </button>
                      </strong>
                    </h4>
                  </mdb-card-title>
                  <!--Description-->
                  <mdb-card-text>시혐용 stripe 결재 시스템으로 접근합니다.</mdb-card-text>
                  <!--Card footer-->
                  <mdb-card-footer>
                    <span class="float-left font-weight-bold">
                      <strong>100$</strong>
                    </span>
                    <span class="float-right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="far fa-eye grey-text ml-3"></i>
                      </a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                        <i class="fas fa-heart grey-text ml-3"></i>

                      </a>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
                <!--Card content-->
              </mdb-card>
              <!--Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-3">
              <!--Card-->
              <mdb-card cascade="true" wider="true" class="card-ecommerce">
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="./../../../../../assets/img/sporter2.png"
                    alt="sample photo"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card image-->
                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center no-padding">
                  <!--Category & Title-->
                  <a href="" class="text-muted">
                    <h5>PayPal Payment</h5>
                  </a>
                  <mdb-card-title>
                    <h4 class="card-title">
                      <strong>
                              <button mdbBtn type="button" color="warning"
                                    (click)="goPayPal()" mdbWavesEffect>
                                    <mdb-icon far icon="credit-card"></mdb-icon>
                                    GoPayPal
                              </button>
                      </strong>
                    </h4>
                  </mdb-card-title>
                  <!--Description-->
                  <mdb-card-text>시혐용 paypal 결재 시스템으로 접근합니다.</mdb-card-text>
                  <!--Card footer-->
                  <mdb-card-footer>
                    <span class="float-left font-weight-bold">
                      <strong>100$</strong>
                    </span>
                    <span class="float-right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="far fa-eye grey-text ml-3"></i>
                      </a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                        <i class="fas fa-heart grey-text ml-3"></i>
                      </a>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
                <!--Card content-->
              </mdb-card>
              <!--Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-3">
              <!--Card-->
              <mdb-card cascade="true" wider="true" class="card-ecommerce">
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="./../../../../../assets/img/sporter3.png"
                    class="img-fluid" alt="sample photo"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card image-->
                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center no-padding">
                  <!--Category & Title-->
                  <a href="" class="text-muted">
                    <h5>IamPorter 한국 결제 시스템</h5>
                  </a>
                  <mdb-card-title>
                    <h4>
                      <strong>
                          <button mdbBtn type="button" color="success"
                          (click)="goIamporter()" mdbWavesEffect>
                          <mdb-icon far icon="credit-card"></mdb-icon>
                          Iamport결재하기
                    </button>
                      </strong>
                    </h4>
                  </mdb-card-title>
                  <!--Description-->
                  <mdb-card-text>시혐용 한국 Iamporter 결재 시스템으로 접근합니다..</mdb-card-text>
                  <!--Card footer-->
                  <mdb-card-footer>
                    <span class="float-left font-weight-bold">
                      <strong>1000원</strong>
                    </span>
                    <span class="float-right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="far fa-eye grey-text ml-3"></i>
                      </a>
                      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                        <i class="fas fa-heart grey-text ml-3"></i>
                      </a>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
                <!--Card content-->
              </mdb-card>
              <!--Card-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!--Section: Products v.2-->
</body>
<<router-outlet></router-outlet>
</html>
