
.borderClass {
text-align: left;
width : 93%;
border : solid rgb(243, 238, 238) 1px;
padding: 0px;
}


.borderClass1 {
  text-align: left;
  font-size: 0.9rem;
  width : 97%;
  border : solid rgb(243, 238, 238) 1px;
  padding: 0px;
  }
.textPosition {
  text-align: left;
}
