
<div class="text-center mt-5">
      <h1><strong>Iamporter Payment System</strong></h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>

<hr class="col-md-8">

  <div class="row">
    <div class="col-md-8 mx-auto">
        <mdb-card class="z-depth-0">
            <mdb-card-body>
              <div class="row">
                  <div class="col-md-6 text-left text-black-50">
                    <h3>
                      <a type="button" class="btn-floating btn-fb" mdbWavesEffect>
                        <mdb-icon far icon="credit-card"></mdb-icon>
                    </a>결재/주문
                    </h3>
                  </div>
                  <div class="col-md-6 text-right">
                  </div>
              </div>
            <hr class="m-0">

            <div class="row mt-4">
                <div class="col-md-12 mx-auto">

                    <div [ngClass]="{ 'card card-cascade narrower': true, 'z-depth-1': !shadows }">

                        <!--Card image-->
                        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                            <div>
                                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                    <mdb-icon fas icon="th-large" class="mt-0"></mdb-icon>
                                </button>
                                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                    <mdb-icon fas icon="columns" class="mt-0"></mdb-icon>
                                </button>
                            </div>

                            <a href="" class="white-text mx-3">주문상품확인 및 할인적용</a>

                            <div>
                                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                    <mdb-icon fas icon="pencil-alt" class="mt-0"></mdb-icon>
                                </button>
                                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                    <mdb-icon fas icon="times" class="mt-0"></mdb-icon>
                                </button>
                                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                    <mdb-icon fas icon="info-circle" class="mt-0"></mdb-icon>
                                </button>
                            </div>

                        </div>
                        <!--/Card image-->

                        <div class="px-4">

                            <div class="table-responsive">
                                <!--Table-->
                                <table class="table mb-3 border">

                                    <!--Table head-->
                                    <thead class="blue-grey lighten-4">
                                        <tr>

                                            <th class="th-lg">
                                                <a (click)="sortBy('first')">상품/옵션정보
                                                    <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                                </a>
                                            </th>
                                            <th class="th-lg">
                                                <a (click)="sortBy('last')">수량
                                                    <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                                </a>
                                            </th>
                                            <th class="th-lg">
                                                <a (click)="sortBy('username')">상품금액
                                                    <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                                </a>
                                            </th>
                                            <th class="th-lg">
                                                <a (click)="sortBy('email')">할인금액
                                                    <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                                </a>
                                            </th>
                                            <th class="th-lg">
                                                <a (click)="sortBy('country')">할인적용금액
                                                    <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                                </a>
                                            </th>
                                            <th class="th-lg">
                                                <a (click)="sortBy('city')">베송비/판매자
                                                    <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->

                                    <!--Table body-->
                                    <tbody>
                                        <tr *ngFor="let row of tableData;let i = index">
                                            <td>{{row.first}}</td>
                                            <td>10</td>
                                            <td>100,000</td>
                                            <td>8000</td>
                                            <td>92,000</td>
                                            <td>김 개똥</td>
                                        </tr>
                                    </tbody>
                                    <!--Table body-->
                                </table>
                                <!--Table-->
                            </div>

                            <hr class="my-0">

                        </div>
                    </div>

                </div>
            </div>

<!-- 배송지 정보확인 -->

            <div class="row mt-4">
              <div class="col-md-12 mx-auto">


                  <div [ngClass]="{ 'card card-cascade narrower': true, 'z-depth-1': !shadows }">

                      <!--Card image-->
                      <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                          <div>
                              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                  <mdb-icon fas icon="th-large" class="mt-0"></mdb-icon>
                              </button>
                              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                  <mdb-icon fas icon="columns" class="mt-0"></mdb-icon>
                              </button>
                          </div>

                          <a href="" class="white-text mx-3">배송지 정보확인</a>

                          <div>
                              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                  <mdb-icon fas icon="pencil-alt" class="mt-0"></mdb-icon>
                              </button>
                              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                  <mdb-icon fas icon="times" class="mt-0"></mdb-icon>
                              </button>
                              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                  <mdb-icon fas icon="info-circle" class="mt-0"></mdb-icon>
                              </button>
                          </div>

                      </div>
                      <!--/Card image-->


                      <!--Card content-->
                      <div class="card-body card-body-cascade text-center pl-5 pr-5">
                          <!--Contact Form-->
                          <form>

                              <div class="row textPosition blue-grey lighten-5">
                                  <div class="col-md-2 blue-grey lighten-4">
                                      <div class="md-form mt-4 blue-grey lighten-4">받으시는 분</div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="md-form">
                                          <input mdbInput type="text" class="form-control" placeholder="이름">
                                        </div>
                                  </div>
                              </div>
                              <div class="row textPosition blue-grey lighten-5">
                                  <div class="col-md-2 m-0 blue-grey lighten-4">
                                      <div class="md-form m-0">주소</div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="md-form mt-0">
                                          <input mdbInput type="text" class="form-control" placeholder="우편번호">
                                        </div>
                                  </div>
                                  <div class="col-md-2">
                                      <div class="md-form m-0">
                                          <button type="button" class="btn btn-primary btn-sm" mdbWavesEffect>주소찿기</button>
                                      </div>
                                  </div>

                              </div>
                              <div class="row textPosition blue-grey lighten-5">
                                  <div class="col-md-2 blue-grey lighten-4">
                                  </div>
                                  <div class="col-md-8">
                                      <div class="md-form mt-0">
                                          <input mdbInput type="text" class="form-control" placeholder="주소지 1">
                                        </div>
                                  </div>

                              </div>
                              <div class="row textPosition blue-grey lighten-5">
                                  <div class="col-md-2 blue-grey lighten-4">
                                  </div>
                                  <div class="col-md-8">
                                      <div class="md-form mt-0">
                                          <input mdbInput type="text" class="form-control" placeholder="주소지 2">
                                        </div>
                                  </div>

                              </div>

                              <div class="row textPosition blue-grey lighten-5">
                                  <div class="col-md-2 mt-0 blue-grey lighten-4">
                                    휴대전화
                                  </div>
                                  <div class="col-md-1">
                                      <div class="md-form mt-0">
                                          <input mdbInput type="text" class="form-control" placeholder="010">
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="md-form mt-0">
                                          <input mdbInput type="text" class="form-control" placeholder="1234">
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="md-form mt-0">
                                          <input mdbInput type="text" class="form-control" placeholder="5678">
                                      </div>
                                  </div>

                              </div>


                              <div class="row textPosition blue-grey lighten-5">
                                <div class="col-md-2 blue-grey lighten-4">
                                  <span>주문자 정보
                                    </span>
                                  </div>
                                <div class="col-md-4">
                                    <div class="md-form mt-0">
                                        <input mdbInput type="text" class="form-control" placeholder="하인철">
                                    </div>

                                </div>

                            </div>


                          </form>

                      </div>
                      <!--/.Card content-->

                  </div>
                  <!--/.Card-->







              </div>
            </div>

 <!-- 결제 방법 선택영영 -->

              <div class="row mt-4">
                  <div class="col-md-8">


                      <div [ngClass]="{ 'card card-cascade narrower': true, 'z-depth-1': !shadows }">

                          <!--Card image-->
                          <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-2 d-flex justify-content-between align-items-center">

                              <div>
                                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                      <mdb-icon fas icon="th-large" class="mt-0"></mdb-icon>
                                  </button>
                                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                      <mdb-icon fas icon="columns" class="mt-0"></mdb-icon>
                                  </button>
                              </div>

                              <a href="" class="white-text mx-3">결제방법 선택</a>

                              <div>
                                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                      <mdb-icon fas icon="pencil-alt" class="mt-0"></mdb-icon>
                                  </button>
                                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                      <mdb-icon fas icon="times" class="mt-0"></mdb-icon>
                                  </button>
                                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                                      <mdb-icon fas icon="info-circle" class="mt-0"></mdb-icon>
                                  </button>
                              </div>

                          </div>
                          <!--/Card image-->

                          <!--Card content-->
                          <div class="card-body card-body-cascade text-center">
                              <div class="borderClass mx-auto">
                                <div class="row blue-grey lighten-5">
                                    <div class="col-md-2 pt-5 blue-grey lighten-4">결제수단&nbsp;&nbsp;&nbsp;</div>
                                    <div class="col-md-2 blue-grey lighten-4"></div>
                                    <div class="col-md-8">


                                              <div class="form-check mt-2">
                                                  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
                                                  <label class="form-check-label" for="materialUnchecked">신용카드</label>
                                              </div>


                                                <div class="form-check mt-2">
                                                    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
                                                    <label class="form-check-label" for="materialUnchecked">휴대폰 결제</label>
                                                </div>



                                                <div class="form-check mt-2">
                                                    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
                                                    <label class="form-check-label" for="materialUnchecked">실시간 계좌이체</label>
                                                </div>



                                                <div class="form-check mt-2">
                                                    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
                                                    <label class="form-check-label" for="materialUnchecked">해외 발급카드</label>
                                                </div>


                                                <div class="form-check mt-2 mb-2">
                                                    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
                                                    <label class="form-check-label" for="materialUnchecked">페이팔</label>
                                                </div>


                                    </div>
                                </div>

                              </div>
                              <div class="textPosition mt-2 pl-2">
                                  <span>무이자할부 적용카드</span>
                              </div>
                              <div class="borderClass1 mx-auto">

                                <p>각종 카드정보확인</p>
                              </div>




                        </div>
                      <!--/.Card-->

                      </div>

                  </div>

<!-- 최종 결제및 결제 수단 선택하기 -->

                  <div class="col-md-4">


                    <!--Card-->
                    <div class="card card-cascade narrower">

                        <!--Card image-->
                        <div class="view view-cascade overlay hm-white-slight waves-light" mdbWavesEffect>
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body card-body-cascade">
                            <!--Title-->
                            <h4 class="card-title mb-2 font-bold">
                                <strong>총 결제금액</strong>
                            </h4>
                            <hr>

                            <h5 class="indigo-text">
                                <strong>96000원</strong>
                            </h5>
                            <hr>

                            <!-- 개인정보 동의 점검 -->
                            <div class="custom-checkbox">

                                        <input type="checkbox" class="custom-control-input" id="defaultUncheckedDisabled2" disabled>
                                        <label class="custom-control-label text-dark">개인정보 판매자 제공에 동의합니다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

                                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3">

                                        </textarea>

                            </div>

                            <div class="custom-checkbox mt-3">

                                    <input type="checkbox" class="custom-control-input" id="defaultUncheckedDisabled2" disabled>
                                    <label class="custom-control-label text-dark">개인정보 수집및이용에 동의합니다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

                                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3">

                                    </textarea>

                        </div>
                        <div class="custom-checkbox mt-3">

                                <input type="checkbox" class="custom-control-input" id="defaultUncheckedDisabled2" disabled>
                                <label class="custom-control-label text-dark">주문상품 정보에 동의합니다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3">

                                </textarea>

                        </div>

                        <div class="custom-control custom-checkbox mt-3">

                                <input type="checkbox" class="custom-control-input" id="defaultUncheckedDisabled2" disabled>
                                <label class="custom-control-label text-dark">위내용을 확인하였으며 모든 내용에 동의함.&nbsp;&nbsp;&nbsp;&nbsp;</label>

                        </div>

                        <div class="mt-3">
                                <button type="button" class="btn btn-pin" (click)="goIamPort()" mdbWavesEffect>
                                        <mdb-icon far icon="credit-card" class="left"></mdb-icon> 결제하기</button>
                                <button type="button" class="btn btn-outline-secondary" mdbWavesEffect>
                                        <mdb-icon fas icon="ban" class="left"></mdb-icon>취소하기</button>
                        </div>

                    </div>

                    </div>
                    <!--/.Card-->

                  </div>


            </div>

          </mdb-card-body>
        </mdb-card>
    </div>

  </div>

</div>
